body{
    outline: 1px solid red;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
    background-color: blue;
}

header, footer{
    background-color: red;
    text-align: center;
}

.col-2{
    margin: 10rem 0;
}

@media screen and (min-width: 600px){
    .col-2{
        float: left;
        width: 50%;
    }
}
